@media only screen and (min-width: 320px) {
  .img{
    background: url("../img/brain.jpeg") center center no-repeat;
    background-size: cover;
  }
  .viewport {
    margin: 0;
    width: 100vw;
    height: 100vh;
  }
  .login-father-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-child-container{
    width: 310px;
  }
  .login-child-container .firebaseui-container{
    background: #04040475;
    border-radius: 30px;
  }
  .login-child-container .firebaseui-title{
    color: #ffffff;
  }
  .login-child-container .firebaseui-label{
    color: #ffffffcf;
  }
  .login-child-container .is-focused .firebaseui-label{
    color: #ffffffcf !important;
  }
  .login-child-container .mdl-textfield__input{
    color: #ffffff
  }
  .login-child-container .is-dirty .firebaseui-label{
    color: #ffffffcf !important;
  }
  .firebaseui-text {
    color: #ffffffcf;
    
}
}