@font-face {
  font-family: "Agency FB";
  src: url("../fonts/agency-fb.eot")/* EOT file for IE */
}

@font-face {
  font-family: "Agency FB";
  src: url("../fonts/agency-fb.ttf")/* TTF file for CSS3 browsers */
}

@media only screen and (min-width: 320px) {
  html,
  body {
    height: 100%;
    width: 100%;
  }
  body {
    font-family: 'Raleway', sans-serif;
    color: #6d6e71;
    font-size: 12px;
  }
  h5 {
    color: #27aae1;
  }
  h5.grey {
    color: #6d6e71;
    margin: 0 auto 20px;
  }
  .text-white {
    color: #fff;
  }
  .text-white:hover {
    color: #fff;
  }
  a {
    color: #27aae1;
  }
  a:hover {
    color: #149AC9;
  }
  a,
  a:active,
  a:focus {
    outline: none;
  }
  .container {
    max-width: 1050px;
  }
  #page-contents {
    padding: 30px 0 50px;
  }
  .btn {
    background: #FFC107;
    padding: 5px 20px;
    border: none;
    font-size: 14px;
    border-radius: 4px;
    color: #fff;
    position: relative;
    font-weight: 600;
    outline: none;
  }
  .btn:hover{
    background: #FFECB3;
  }
  .btn::before {
    content: "";
    background: #FFC107;
    position: absolute;
    width: 95%;
    height: 1px;
    top: 1px;
    left: 0;
    right: 0;
    margin: auto;
  }
  img.profile-photo {
    height: 58px;
    width: 58px;
    border-radius: 50%;
  }
  img.profile-photo-md {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .static {
    position: static;
  }
  .unshow {
    display: none;
  }
  textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
  #header {
    min-height: 50px;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background: #fff;
  }
  .menu {
    background: #0097A7; 
    border: none;
    border-radius: 0;
    margin-bottom: 0;
  }
  .menu form {
    margin: 12px 0;
  }
  .menu form .form-group {
    position: relative;
  }
  .menu form .form-group i.icon {
    position: absolute;
    left: 15px;
    top: 5px;
    color: #fff;
  }
  .menu form .form-group input.form-control {
    background: rgba(32, 32, 32, 0.4);
    border: 0;
    box-shadow: none;
    min-width: 235px;
    color: #fff;
    height: 26px;
    border-radius: 13px;
    font-size: 12px;
    padding-left: 30px;
  }
  .form-control::placeholder {
    color: #fafafa;
  }
  .menu ul.main-menu li.dropdown a {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
  }
  .menu ul.main-menu li.dropdown a:hover,
  .menu ul.main-menu li.dropdown a:active,
  .menu ul.main-menu li.dropdown a:focus {
    color: #000000;
    background: none;
  }
  .menu ul.main-menu li.open a,
  .menu ul.main-menu li.open a:active,
  .menu ul.main-menu li.open a:focus {
    background: transparent;
    color: #000000;
  }
  .menu ul.main-menu li ul.dropdown-menu {
    background: #231F20;
    box-shadow: none;
    border: 0;
    padding: 0;
  }
  .menu ul.main-menu li ul.dropdown-menu li {
    list-style: none;
    padding: 5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)
  }
  .menu ul.main-menu li ul.dropdown-menu li a,
  .menu ul.main-menu li.open ul.dropdown-menu li a {
    color: #fff;
    font-size: 12px;
    line-height: 16px;
  }
  .menu ul.main-menu li ul.dropdown-menu li a:hover,
  .menu ul.main-menu li.open ul.dropdown-menu li a:hover {
    color: #e6e6e6;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border: 0;
  }
  .navbar-brand {
    padding: 1px 15px;
  }
  .navbar-brand .logo {
    height: 48px;
  }
  .slide-bar-left {
    display: none;
  }
  .profile-card {
    display: none;
    background: linear-gradient(to bottom, rgba(0, 187, 212, 0.685), rgba(0, 150, 167, 0.734));
    background-size: cover;
    width: 100%;
    min-height: 90px;
    border-radius: 4px;
    padding: 10px 20px;
    color: #fff;
    margin-bottom: 40px;
  }
  .profile-card img.profile-photo {
    border: 7px solid #fff;
    float: left;
    margin-right: 20px;
    position: relative;
    top: -30px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  /*Newsfeed Links CSS*/
  ul.nav-news-feed {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 0 40px 0;
  }
  ul.nav-news-feed li {
    list-style: none;
    display: block;
    padding: 15px 0;
  }
  ul.nav-news-feed li div {
    position: relative;
    margin-left: 30px;
  }
  ul.nav-news-feed li div::after {
    content: "";
    width: 100%;
    height: 1px;
    border-top: 1px solid #f1f2f2;
    position: absolute;
    bottom: -15px;
    left: 0;
  }
  ul.nav-news-feed li a {
    color: #6d6e71;
  }
  ul.nav-news-feed li i {
    font-size: 18px;
    margin-right: 15px;
    float: left;
  }
  ul.nav-news-feed i.ion-ios-paper {
    color: #8dc63f;
  }
  ul.nav-news-feed i.ion-ios-people {
    color: #662d91;
  }
  ul.nav-news-feed i.ion-md-people {
    color: #ee2a7b;
  }
  ul.nav-news-feed i.ion-md-chatboxes {
    color: #f7941e;
  }
  ul.nav-news-feed i.ion-md-images {
    color: #1c75bc;
  }
  ul.nav-news-feed i.ion-ios-videocam {
    color: #9e1f63;
  }
  .create-post {
    display: none;
    width: 100%;
    min-height: 90px;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f1f2f2;
  }
  .create-post .form-group {
    width: 100%;
    margin-bottom: 0;
    display: inline-flex;
  }
  .create-post .form-group img.profile-photo-md {
    margin-right: 10px;
  }
  .create-post .tools {
    padding: 8px 0 10px;
  }
  .create-post .tools ul.publishing-tools {
    display: inline-block;
    text-align: left;
    margin: 0;
    /* padding:5px 0; */
    padding: 5px 60px;
  }
  .create-post .tools ul.publishing-tools li a {
    color: #6d6e71;
    font-size: 18px;
  }
  .create-post .tools ul.publishing-tools li a:hover {
    color: #27aae1;
  }
  .contenidoPost {
    margin: 25px 2px;
  }
  .post-icon {
    /* display: none; */
    margin: 10px;
    cursor: pointer;
  }
  .post-published {
    margin: 40px 0;
  }
  .tools-published {
    display: none;
    margin: 10px 0;
  }
  .user-name-container{
    display: inline-block;
  }
  .privacy {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 480px) {
  .menu ul.main-menu li.dropdown ul.dropdown-menu li {
    background: #282425
  }
}

@media only screen and (min-width: 992px) {
  .slide-bar-left {
    display: block;
    position: fixed;
  }
  .wall {
    margin-left: 300px;
  }
  .col-md-3 {
    width: 18%;
  }
}

/* Estilos para los posts */

#newPost {
  border: 1px solid;
}
